services:
  bot:
    build: .
    restart: always
    volumes:
      - ./data:/usr/src/app/data
      - ./public/uploads:/usr/src/app/public/uploads
    env_file:
      - .env
    ports:
      - "4000:3000"  # Expose internal 3000 to localhost:4000
