version: '3.8'

services:
  bot:
    build: .
    restart: always
    volumes:
      - ./data:/usr/src/app/data
    env_file:
      - .env
    ports:
      - "4000:3000"  # Expose internal 3000 to external 4000
