version: '3.8'

services:
  bot:
    build: .
    restart: always
    volumes:
      - ./data:/usr/src/app/data
    env_file:
      - .env
    # methods:
    # 1. Direct access via port 4000 (http://IP:4000)
    # 2. Access via Caddy (https://sorovnoma.duckdns.org)
    ports:
      - "4000:3000"
    networks:
      - app-network

  caddy:
    image: caddy:2.7-alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - bot
    networks:
      - app-network

volumes:
  caddy_data:
  caddy_config:

networks:
  app-network:
    driver: bridge
